/* common shared styles */
body {
    font-family: "Open Sans", sans-serif;

}

.text-primary {
    color: #FD6E0A;

}

.btn-primary {
    border-radius: 5px;
    background: #fd6e0a;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 18px 36px;


}

.section-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.section-description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

nav>ul {
    display: flex;
    align-items: center;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav a {
    text-decoration: none;
}


/* header related styles */
.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;

}

.banner {
    padding: 30px 30px 0px 200px;
    display: flex;
    align-items: center;
}

.banner-content {
    max-width: 500px;
}

.banner-greting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;
}

.banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 30px;
}

.banner .profile-pic {
    width: 584px;
    height: 676px;
}


/* main section styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */

.about {
    padding: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    margin: 130px 0;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.about-info-title {
    font-size: 20px;
    font-weight: 400;
}

.about-info-description {
    font-size: 20px;
    font-weight: 700;
}